* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

html {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  border: 2px solid black;
  border-radius: 1rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
}

button.btn {
  background-color: white;
  border: #919191 solid 2px;
}

button.btn:hover {
  color: white;
  background-color: #919191;
}

.box-child {
  margin: 1rem;
}

#new-quote {
  font-size: 0.75rem;
}

.button {
  padding: 0 0.5rem 0 0;
}

div.share {
  display: flex;
  justify-content: left;
}

a {
  color: #919191;
}
