* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliders {
    width: 25%;
}
.slidecontainer {
    display: block;
    position: relative;
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;    /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* 
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background-color: lawngreen;
    appearance: none;
    cursor: pointer; /* Cursor on hover */
    z-index: 3;
}

#demo {
    position: relative;
    z-index: 2;
}
.selectBtn {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    font-size: .8rem;
    text-align: center;
    background-color: lawngreen;
    position: absolute;
}


